button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 15px 60px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 24px;
  border-radius: 50px;
}
