.Reel {
  position: absolute;
  left: 0;
  /* top: 0; */
  height: 600px;
  width: 300px;

  transform-style: preserve-3d;
  /* display: flex; */

  /* justify-content: center;
  align-items: center; */
  /* transform: rotate3d(0.5, 0, 0, -5deg); */
  backface-visibility: visible;
  /* perspective: 4500px; */
}

.Reel_Animation_START {
  animation-name: x-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 0;
}

.Reel_Animation_STOP {
  animation-name: x-spin;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-timing-function: ease;
}

.ExerciseText {
  font-size: 40px;

  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  position: absolute;
  top: 2%;
  text-align: center;
  z-index: 2;

  /* width: 100%;

  font-size: 30px;
  text-align: center;
  color: #dfe6e9;
  position: absolute;
  top: -2%;
  left: 5%;
  margin: 5%;
  z-index: 2;
  transform: scale(1, 1);

  margin: 5%;
  border-radius: 25px;
  padding: 15px 10px;

  background-image: linear-gradient(to right, #27b99c, #036d58); */
}
.Time {
  font-size: 40px;

  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  position: absolute;
  top: 15%;
  text-align: center;
  z-index: 2;

  /* position: absolute;
  top: 18%;
  left: 5%; 
  width: 100%;
  font-size: 25px;
  text-align: center;
  color: #dfe6e9;
  z-index: 2;

  margin: 5%;
  border-radius: 25px;
  padding: 15px 10px;

  box-shadow: 0 7px 7px rgb(58, 58, 58);
  background-image: linear-gradient(to right, #27b99c, #036d58); */
}

.StartButton {
  background-color: #272c2e;
  background-image: linear-gradient(to right, #27b99c, #036d58);
  color: #dfe6e9;
  position: absolute;
  left: 15%;
  bottom: 5%;
  margin: 5%;
  z-index: 2;
  /* border-color: #00b894;
  border-style: solid; */
  box-shadow: 0 7px 7px rgb(58, 58, 58);
}

.StartButton:active {
  box-shadow: 0 1px 3px rgb(58, 58, 58);
  transform: translateY(4px);
  z-index: 2;
}

/* .StopButton {
  background-color: #ff6666;
  color: white;
  border: 700px;
  position: absolute;
  right: 10%;
  bottom: -20%;
  z-index: 2;
} */
.Disable {
  pointer-events: none;
  background-color: grey;
}

@keyframes x-spin {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
  }
}

.Slot {
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 25%;
  height: 300px;
  width: 300px;
  object-fit: fill;
  z-index: 0;
  border-radius: 0px;
  /* transform: translateZ(200px); */
}

/* DOUBLED the amoutn of slots to 8 to make look more like wheel instead of box */
#Slot1 {
  /* translateZ uses 235 so stots dont overlap */

  transform: rotateX(0deg) translateZ(350px);
}

#Slot2 {
  transform: rotateX(45deg) translateZ(350px);
}

#Slot3 {
  transform: rotateX(90deg) translateZ(350px);
}
#Slot4 {
  transform: rotateX(135deg) translateZ(350px);
}
#Slot5 {
  transform: rotateX(180deg) translateZ(350px);
}

#Slot6 {
  transform: rotateX(225deg) translateZ(350px);
}

#Slot7 {
  transform: rotateX(270deg) translateZ(350px);
}
#Slot8 {
  transform: rotateX(315deg) translateZ(350px);
}

@keyframes text-increase {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(2.5, 2);
  }
}

.Text_Animation {
  animation-name: text-increase;
  animation-duration: 1s;
  animation-iteration-count: 10;
  animation-timing-function: linear;
}
