.Reel {
  position: absolute;
  left: 0;
  top: 0;
  height: 300px;
  width: 300px;
  transform-style: preserve-3d;
  z-index: -1;
}

.Reel_Animation_START {
  animation-name: x-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.Reel_Animation_STOP {
  animation-name: x-spin;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-timing-function: ease;
}

.ExerciseText {
  position: absolute;
  top: -25%;
  left: 10%;
  z-index: 2;
}

.StartButton {
  background-color: #4caf50; /* Green */
  color: white;
  position: absolute;
  left: 10%;
  bottom: -20%;
  z-index: 2;
}

.StopButton {
  background-color: #4caf50; /* Green */
  color: white;
  border: 700px;
  position: absolute;
  right: 10%;
  bottom: -20%;
  z-index: 2;
}

@keyframes x-spin {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
  }
}

.slot {
  flex-direction: column;
  position: absolute;
  left: 0;
  min-height: 300px;
  max-width: 300px;
  object-fit: cover;
  z-index: -2;
}

#slot1 {
  transform: rotateX(0deg) translateZ(200px);
}

#slot2 {
  transform: rotateX(90deg) translateZ(200px);
}

#slot3 {
  transform: rotateX(180deg) translateZ(200px);
}
#slot4 {
  transform: rotateX(270deg) translateZ(200px);
}
